extends ../layouts/common

block content
    h1 Crete user

    if errors
        each error in errors
            .alert.alert-danger= error
    form(action="/auth/login" , method="POST" )
        .form-group
            label(for="email") Email
            input#email(type="email" , name="email" , class="form-control" , value= values ? values.email : "")

        .form-group
            label(for="password") password
            input#password(type="password" , name="pass" , class="form-control" , value= values ? values.pass : "")

            button.btn.btn-primary.mt-2 Login
